@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-transparent text-slate-100 font-sans;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #30363D;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #58A6FF;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
